<launch>
    <arg name="directory" default="/home/larrkchlaptop/hhi_data/"/>

    <arg name="binning_on" default="true"/>
    <arg name="triggered_on" default="true"/>
    <arg name="auto_exposure_control" default="false"/>
    <arg name="auto_gain_control" default="false"/>
    <arg name="expose_us" default="18000"/>
    <arg name="frame_rate" default="20.0"/>

    <arg name="n_cameras" default="2"/>
    <arg name="n_lidars" default="1"/>
    
    <remap from="/os1_cloud_node/points" to="lidar0/velodyne_points"/>

    <node pkg="hhi_autoexcavator" name="hhi_gcs" type="hhi_gcs" output="screen">

        <param name="n_cameras" type="int" value="$(arg n_cameras)"/>
        <param name="n_lidars" type="int" value="$(arg n_lidars)"/>
        <param name="directory" type="string" value="$(arg directory)"/>
    </node>
    <node pkg="bluecougar" name="bluecougar_multiple_node" type="bluecougar_multiple_node" output="screen">
        <param name="binning_on" type="bool" value="$(arg binning_on)"/>
        <param name="triggered_on" type="bool" value="$(arg triggered_on)"/>
        <param name="aec_on" type="bool" value="$(arg auto_exposure_control)"/>
        <param name="agc_on" type="bool" value="$(arg auto_gain_control)"/>
	<param name="expose_us" type="int" value="$(arg expose_us)"/>
        <param name="frame_rate" type="double" value="$(arg frame_rate)"/>
    </node>
    <node pkg="rosserial_python" type="serial_node.py" name="arduino_TCPIP" args=" tcp" output="screen">
    </node>

<include file="$(find ouster_ros)/os1.launch">  
  <arg name="os1_hostname" default="192.168.1.150" doc="hostname or IP in dotted decimal form of the sensor"/>
  <arg name="os1_udp_dest" default="192.168.1.1" doc="hostname or IP where the sensor will send data packets"/>
  
  <arg name="os1_lidar_port" default="0" doc="port to which the sensor should send lidar data"/>
  <arg name="os1_imu_port" default="0" doc="port to which the sensor should send imu data"/>
  <arg name="replay" default="false" doc="do not connect to a sensor; expect /os1_node/{lidar,imu}_packets from replay"/>
  <arg name="lidar_mode" default="2048x10" doc="resolution and rate: either 512x10, 512x20, 1024x10, 1024x20, or 2048x10"/>
  <arg name="timestamp_mode" default="" doc="method used to timestamp measurements: TIME_FROM_INTERNAL_OSC, TIME_FROM_SYNC_PULSE_IN, TIME_FROM_PTP_1588"/>
  <arg name="metadata" default="" doc="override default metadata file for replays"/>
  <arg name="viz" default="false" doc="whether to run a simple visualizer"/>
  <arg name="image" default="false" doc="publish range/intensity/noise image topic"/>
  <arg name="tf_prefix" default="" doc="namespace for tf transforms"/>

</include>



</launch>
